// @import 'fonts';

// Core
@import './core/vars';
@import './core/mixins';
@import './core/inheritance';
@import './core/common';

body {
   background-color: #555;
   font-family: CormorantUpright;
   font-size: 30px;
   span {
      color: red;
   }
}